{
  "APP_URL": "https://alarmion.ddns.net",
  "APP_NAME": "SotaoiStorage",
  "LOG_PATH": "./logs",
  "SSL_CERT": "./certs/cert.pem",
  "SSL_KEY": "./certs/privkey.pem",
  "SSL_CA": "./certs/bundle.pem",
  "SSL_CHAIN": "./certs/chain.pem",
  "SSL_FCHAIN": "./certs/fullchain.pem"
}
